<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
  <img class="center" width="300px" height="200px" src="assets/logo1.png" alt="">
  <br>
    <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">User _id</th>
            <th scope="col">User name</th>
            <th scope="col">User lastname</th>
            <th scope="col">User email</th>
            <th scope="col">User address</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let i of users">
            <td scope="row">{{i._id}}</td>
            <td scope="row">{{i.name}}</td>
            <td scope="row">{{i.lastname}}</td>
            <td scope="row">{{i.email}}</td>
            <td scope="row">{{i.address}}</td>
          </tr>

        </tbody>
      </table>
</body>
</html>
  
  